<h1>Les gossips</h1>

<table>
  <tr>
    <th>Auteur</th>
    <th>Gossip</th>
  </tr>

  <% @gossips.each do |gossip| %>
    <tr>
      <td><%= gossip.Auteur %></td>
      <td><%= gossip.content %></td>
<td><%= link_to 'Lire', gossip_path(gossip) %></td>
<td><%= link_to 'supprimer', gossip_path(gossip),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
